<div id="userSearchPopupContainer">
  <button class="btn-root" data-modal="#userSearchPopup">Invite Admin</button>
  <div id="userSearchPopup" class="modal-default modal-search" role="dialog">
      <div  class="modal-default__content">
        <button type="button" class="modal-default__close"></button>
        <h2 id="userSearchPopupTitle" class="modal-default__title">Search users</h2>
        <%= form_tag(users_search_teams_path, :method => "get", remote: true, class:"f-search") do %>
          <%= hidden_field_tag 'project_id', @project.id %>
          <div class="f-default__joined">
            <div class="f-default__joined-col _wide">
              <%= text_field_tag :search, nil, placeholder: "Search Users", class:"f-default__field _joined-left" %>
            </div>
            <div class="f-default__joined-col _narrow">
              <button class="btn-root _joined-right _dark">Search</button>
            </div>
          </div>
        <% end %>

        <div class="userSearchResults"></div>
      </div>
  </div>
</div>
