#product-modal #InviteModel {
  z-index: 1051 !important; // todo FD: remove this : I see inline z-index without any reason
}

div.modal-invite { // todo FD: remove div : now I need this because of huge amount !important's in code
  top: 0 !important; // todo FD: remove when modals will be refactored : I see top 100px !important without any reason
}

.modal-invite {
  &__subtitle {
    font-size: 14px;
    font-weight: 300;
    font-family: "Libre Franklin", sans-serif;
    margin-bottom: 30px;
  }
  &__or {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    font-family: Roboto, sans-serif;
    display: block;
    margin: 20px 0;
  }
  .btn-root {
    white-space: nowrap;
  }
  ._joined-left {
    height: 41px;
    padding: 0 10px 0 15px;
  }
}