.modal-new-task {
  .f-default__row {
    margin-bottom: 8px;
  }
  .input-group-addon {
    border-radius: 0;
  }
  .btn-root {
    display: table;
    margin: 26px 0 0 auto;
    min-width: 227px;
  }
  .f-default__field {
    font-size: 14px;
    margin: 0;
  }
  .modal-default__content {
    max-width: 800px;
    width: 100%;
    text-align: left;
  }
}

@media(max-width: 600px) {
  .modal-new-task {
    .f-default__col {
      width: 50%;
    }
  }
}