.register-modal {
  .modal-dialog {
    max-width: 840px;
    width: auto;
    padding: 0 20px;
  }
  .modal-sign__col-wrap {
    width: 100%;
    padding: 0 30px;
  }
  .signin-intro {
    padding: 0 45px;
  }
  .modal-content {
    box-shadow: none;
  }
}

