<div id="blockUserModal" class="modal fade" role="dialog" tabindex="-1">

  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">Are you sure you want to block <a href='#'>Anonymous</a>?</h3>
      </div>
      <div class="modal-body">
        <div class="modal-body-block-user">
          <a href="#" class='btn btn-default'>Ok</a>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>