<div id="walletModal" class="modal-default" role="dialog" tabindex="-1">
    <div class="modal-default__content">
        <button type="button" class="modal-default__close"></button>
        <h2 class="modal-default__title">Welcome!</h2>
        <p class="modal-default__text">We have created a bitcoin wallet for you.</p>
        <p class="modal-default__text mb30">We have created a bitcoin wallet for you. Please Download your keys and save it in a safe place.</p>
        <a href="<%= user_wallet_transactions_download_keys_url %>" class="btn-root" id="wallet_button">download wallet keys</a>
    </div>
</div>
