<div id="projectSignupModal" class="modal-default modal-sign _project-sign" role="dialog" tabindex="-1">
  <div class="modal-default__content">
    <button type="button" class="modal-default__close"></button>
    <%= render "modal/project_signup_1" %>
  </div>
</div>
