<div id="projectSignup_1">
  <h2 class="modal-default__title">Start Project by Sign Up First...</h2>
  <p class="modal-default__text">After sign up and saving your secret key, you can create your project</p>

  <%= render "modal/social_register" %>

  <p class="modal-default__text">OR</p>

  <div class="m-social _email">
    <div id="sign_up_email" class="m-social__item email">
      <i class="fa fa-envelope-o" aria-hidden="true"></i>
      <a href="javascript:void(0)">Sign Up using your email</a>
    </div>
  </div>

  <p class="modal-default__text _start-project-show">Already have an account? <a href="javascript:void(0)" id="sign_in_a">Sign In</a></p>

  <div class="register-form-wrapper">
    <div class="row row-custom _sign-up" id="sign_up_show">
      <%= react_component 'SignUpModal', {authenticity_token: form_authenticity_token}%>
    </div>
    <div class="row row-custom _sign-in" id="sign_in_show">
      <%= react_component 'SignInModal', {authenticity_token: form_authenticity_token}%>
    </div>
  </div>

  <div class="_sign-up">
    <p class="modal-default__text">
      By clicking Sign Up or Sign in, you agree to our <a href="/pages/terms_of_use"> Terms of Use </a> and <a href="/pages/privacy_policy">Privacy Policy</a>.
    </p>
    <p class="modal-default__text">
      Already have an account? <a href="javascript:void(0)" id="sign_in_a">Sign In</a>
    </p>
  </div>

  <p class="modal-default__text _sign-in">
    Don't have an account? <a href="javascript:void(0)" id="sign_up_a">Sign Up</a>
  </p>

</div>
