<div class="m-social">
  <div class="m-social__item facebook">
    <i class="fa fa-facebook" aria-hidden="true"></i>
    <%= link_to 'Sign In with Facebook', user_facebook_omniauth_authorize_path %>
  </div>
  <div class="m-social__item twitter">
    <i class="fa fa-twitter" aria-hidden="true"></i>
    <%= link_to 'Sign In with Twitter',  user_twitter_omniauth_authorize_path %>
  </div>
  <div class="m-social__item google">
    <i class="fa fa-google-plus" aria-hidden="true"></i>
    <%= link_to 'Sign In with Google +',  user_google_oauth2_omniauth_authorize_path %>
  </div>
</div>
