
<div class="content edit-content">
  <h1 class="edit-header">Update Profile</h1>
  <%= render "users/edit_form" %>
</div>

<div class="authform">
  <h3>Cancel Account</h3>
  <p>Unhappy? We'll be sad to see you go.</p>
  <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button right' %>
</div>
