<% content_for :title do %>
  Sign Up For WeServe.io
<% end %>

<div class="register-form-wrapper">
  <div class="register-modal mt80">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h2 class="modal-default__title">Join In WeServe.io today!</h2>
        </div>

        <div class="modal-sign__col-wrap">
          <div class="modal-sign__col">
            <%= render "modal/social_register" %>
          </div>

          <div class="modal-sign__col">
            <div class="row row-custom" id="sign_up_show">
              <%= react_component 'SignUpModal', {authenticity_token: form_authenticity_token}%>
            </div>
          </div>
        </div>

        <p class="modal-default__text">
            By clicking Sign Up or Sign in, you agree to our <a href="/pages/terms_of_use"> Terms of Use </a> and <a href="/pages/privacy_policy">Privacy Policy</a>.
        </p>
        <p class="modal-default__text">
            Already have an account? <%= link_to 'Sign In', new_user_session_path %>
        </p>
      </div>
    </div>
  </div>
</div>
