// all style variables goes here

$alt-clr: #008CBA;
$grey-clr: #999;

$facebook-clr: #3C5790;
$twitter-clr: #07A2DC;
$google-clr: #CE4A3A;

$sans: 'Roboto';

$grey4: #4a4a4a;

$darkBackground: $grey4;

$alert-clr: #a94442;
$alert-bg-clr: #f2dede;
$alert-boder-clr: #ebccd1;
