.l-project-cards {
  padding-top: 11px;
  .myprojets-table & {
    padding-top: 0;
  }
  &__title {
    font-family: 'Roboto';
    color: #000;
    margin-bottom: 20px;
    font-weight: 600;
  }
  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 0;
    margin: 0 -15px;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    max-width: 33.3333%;
    flex-basis: 33.33333%;
    width: 33.33333%;
    padding: 0 15px;
    margin-bottom: 30px;
    display: flex;
  }
}


@media(max-width: 1240px) {  // todo DESIGNER/FD: should be defined better breakpoints accordingly real data inside project card
  .l-project-cards {
    &__item {
      .myprojets-table & {
        max-width: 50%;
        flex-basis: 50%;
        width: 50%;
      }
    }
  }
}

@media(max-width: 920px) {  // todo DESIGNER/FD: should be defined better breakpoints accordingly real data inside project card
  .l-project-cards {
    &__list {
      .myprojets-table & {
        max-width: 420px;
        display: block;
      }
    }
    &__item {
      .myprojets-table & {
        max-width: 100%;
        width: 100%;
      }
    }
  }
}

@media(max-width: 840px) {  // todo DESIGNER/FD: should be defined better breakpoints accordingly real data inside project card
  .l-project-cards {
    &__item {
      max-width: 50%;
      flex-basis: 50%;
      width: 50%;
    }
  }
}

@media(max-width: 640px) { // todo DESIGNER/FD: should be defined better breakpoints accordingly real data inside project card
  .l-project-cards {
    &__list {
      max-width: 420px;
      margin: 0 auto 30px;
      display: block;
    }
    &__item {
      max-width: 100%;
      width: 100%;
      padding: 0;
    }
  }
}
