<% if notifications.count > 0 %>
    <div class="load-older-notifications-link">
      <i class="fa fa-tags" aria-hidden="true"></i>
      <%= link_to "Load older", load_older_notifications_path(first_notification_id: notifications.first.id), remote: true %>
    </div>
<% end %>