<div class="medium-3 small-12 columns">
    <div class="row">
      <div class="not-list">
        <ul class="Notifi">
          <li class="not"><h4 class="header"> <i class="fa fa-bell-o" aria-hidden="true"></i>Notificatons <i class="fa fa-cog"></i></h4> </li>
        </ul>
        
         <ul class="Notifi-text">
          <li class="not">
            <div class="pro">PROJECT ALERT</div>
            <div class="pro-text">Lorem Ipsem dolor sit amet, conscteture adipiscing elit, sed diam nonummy nibh euismod</div>
            <div class="pro-we">WE SERVE <span>MAY 29TH</span></div>
          </li>         
         </ul>
         
         <ul class="Notifi-1">
          <li class="not">
            <div class="pro">TEAM INVITATION</div>
            <div class="pro-text">Lorem Ipsem dolor sit amet, conscteture adipiscing elit, sed diam nonummy nibh euismod</div>
            <div class="pro-we">WE SERVE <span>MAY 29TH</span></div>
          </li>         
         </ul>
         
         <ul class="Notifi-active">
          <li class="not">
            <div class="pro">TEAM INVITATION</div>
            <div class="pro-text">Lorem Ipsem dolor sit amet, conscteture adipiscing elit, sed diam nonummy nibh euismod</div>
            <div class="pro-we">CAJU<span>MAY 29TH</span></div>
          </li>         
         </ul>
      </div>
    </div>
  </div>