
<% content_for :title do %>
  My notifications
<% end %>

<div class="notifications-wrapper">
  <h2>Notificaitons</h2>
  <a href="javascript:void(0)" class="mark-read">
    <i class="fa fa-check"></i>&nbsp;&nbsp;Mark all as read
  </a>

  <%= render partial: 'load_older_link', locals: { notifications: @notifications } %>
  <%= render @notifications %>
</div>

<script>
  $(function() {
    JsonFormsHelper.InitializeNotificationsControls();
    // $(".notifications-container").scrollTop($(".notifications-container")[0].scrollHeight);
  });
</script>