<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" content="text/html" http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear <%= @user_name %></h1>
    <p>
      You received an invitation for a leader role of project from <%= @from %>.
      Please click following link to accept or reject the invitation.
      Thank you.
    </p>
    <p>
      <%= @url %>
    </p>
  </body>
</html>