<%= form_tag("create", method: "post") do %>
    <div class="form-group">
<label class="col-sm-2 control-label" >Amount</label>
      <div class="col-sm-10">
        <%#= f.text_field :amount, class: "form-control", required:true, placeholder:'Enter USD Amount to Send' %>
        <input type="text" id="wallet_transaction_amount" name="amount"  class="form-control" required="true" placeholder='Enter USD Amount to Send'/>

        <span id="wallet_btc"style="color: darkorange"></span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" >User Wallet</label>
      <div class="col-sm-10">
        <input type="text" id="wallet_transaction_user_wallet" name="wallet_transaction_user_wallet"  required="true" class="form-control" placeholder='Please Enter Receiver Wallet Address' />

      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%#= f.submit class: "btn btn-primary" %>
        <button type="submit" class="  btn btn-primary btn-danger"  style="margin: 10px" value="save">Save</button>

      </div>
    </div>
<% end %>

<script>

  $('#wallet_transaction_amount').keypress(function(eve) {
    if(eve.which == 8 || eve.which == 0){
      return true;
    }
    if ((eve.which != 46 || $(this).val().indexOf('.') != -1) && (eve.which < 48 || eve.which > 57)) {
      document.getElementById("wallet_btc").innerHTML = '';
      var usd = document.getElementById("wallet_transaction_amount");
      var current_btc = '<%=  get_current_btc_rate  %>'
      document.getElementById("wallet_btc").innerHTML= usd.value+" USD = " +(usd.value/current_btc)+" BTC";
      eve.preventDefault();
    }

// this part is when left part of number is deleted and leaves a . in the leftmost position. For example, 33.25, then 33 is deleted
    $('#wallet_transaction_amount').keyup(function(eve) {
      if($(this).val().indexOf('.') == 0) {    $(this).val($(this).val().substring(1));
      }
      document.getElementById("wallet_btc").innerHTML = '';
      var usd = document.getElementById("wallet_transaction_amount");
      var current_btc = '<%=  get_current_btc_rate  %>'
      document.getElementById("wallet_btc").innerHTML= usd.value+" USD = " +(usd.value/current_btc)+" BTC";

    });
  });

</script>



