<div class="row">
  <div class="row team-buttons">
  <!--<%# if !current_user.nil? && current_user.can_apply_as_admin?(@project) %>-->
    <!--<div class="small-2 columns" id="admin-request">-->
      <!--<%#= render partial: "admin_requests/request_form", locals: { user: current_user, project: @project } %>-->
    <!--</div>-->
  <!--<%# end %>-->
    <% if !current_user.nil? && current_user.is_project_leader?(@project) %>
      <div class="col-lg-9 col-md-9 col-sm-9"><%= render "teams/users_search_popup" %></div>
    <% end %>
  </div>

  <% @project.team.team_memberships.each do |team_membership| %>
    <%= render "projects/cards/team_membership", team_membership: team_membership %>
  <% end %>

</div>

<script>
  $(function() {
    $('.team-member .box').matchHeight();
    JsonFormsHelper.InitializeAdminRequestsControls();
    JsonFormsHelper.InitializeTeamMembersControls();
  });
</script>