// Place all the styles related to the ProfileComments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.load-more-comments-link {
  text-align: center;
  margin-bottom: 10px;
}

label[for='profile_comment_comment_text'] {
  display: none;
}

#new_profile_comment .button:focus {
  outline: none;
}

#new_profile_comment .form-errors {
  color: red;
  margin-bottom: 5px;
}

.cropbox-wrap {
  display: block;
  width: 100%;
  padding: 0 5%;
  text-align: center;

  #user_picture_cropbox_wrapper {
    display: inline-block;
    margin: auto;
  }
}

.profile-hero__user-portrait {
  a.btn-edit-image {
    position: absolute;
    width: 200px;
    margin-left: 120px;
    bottom: 0px;
    font-family: Arial, sans-serif;
    opacity: 0;
    transition: opacity .4s;
  }
  &._signed-in:hover {
    .btn-edit-image {
      opacity: 1;
      pointer-events: all;
    }
  }
}
