<div class="landing-header">
  <div class="header-wrap">
    <div class="landing-logo">
      <% if user_signed_in? %>
          <!-- For signed users, we should still this to redirect to root path as we have only dummy projects -->
          <%= link_to root_path do %>
            WeServe.io
            <small>Beta</small>
          <% end %>
      <% else %>
          <%= link_to root_path do %>
            WeServe.io
            <small>Beta</small>
          <% end %>
      <% end %>
    </div>

    <a class="header-link border-link ml30 hidden-mobile" data-modal="#projectSignupModal" id="start_project_link">Start a Project</a>
    <%= link_to 'Active Projects', projects_path, data: {no_turbolink: true}, :class => "projects-link hidden-mobile" %>

    <div class="pull-right register-group">
      <a id="sign_in_nav" data-modal="#registerModal" class="show-desktop">Login</a>
      <span class="show-desktop">or</span>
      <a id="sign_up_nav" data-modal="#registerModal" class="border-link show-desktop">Register</a>
      <a href="javascript:void(0)" class="btn-mobile hamburger show-tablet text-right">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </a>
      <a href="javascript:void(0)" class="btn-mobile cross text-center">
        <i class="fa fa-times" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>

<div class="mobile-menu display-none">
  <ul class="mobile-menu-list">
    <li class="border-bottom show-mobile">
      <a data-modal="#projectSignupModal" id="start_project_link">Start a Project</a>
    </li>
    <li class="border-bottom show-mobile">
      <%= link_to 'Active Projects', projects_path, data: {no_turbolink: true} %>
    </li>
    <li class="border-bottom">
      <a id="sign_in_nav" data-modal="#registerModal">Login</a>
    </li>
    <li>
      <a id="sign_up_nav" data-modal="#registerModal">Register</a>
    </li>
  </ul>
</div>
